$color_A001:#fff;
$color_A002:#f2f2f2;
$color_A002-1:#c8cee0;
$color_A003:#eee;
$color_A004:#D6CBCB;
$color_A005:#989898;
$color_A006:#ababab;
$color_A007:#7c7c7c;
$color_A008:#d2d2d2;

$color_B001:#000;
$color_B002:#1d1d25;
$color_B003:#211212;
$color_B004:#443434;
$color_B005:#262216;
$color_B005-1:#2d291c;
$color_B006:#1f1d18;
$color_B007:#1d1d25;

$color_C001:#ff6f00;
$color_C002:#E36302;
$color_C003:#fd8a33;

$color_E001:#ee2746;
$color_E004:#ebd4d7;

$color_F004:#303046;

$color_G001: #3498DB;
$color_G002: #2980B9;




//==> For - shadow
$color_shadow_001:rgba(0, 0, 0, 0.15); //8px 8px 16px rgba(0, 0, 0, 0.15);
$color_shadow_002:rgba(255, 94, 58, 0.45);
$color_shadow_003:#00000052;