/*
* Fonts
*/
$FirstFontExtraBold: "Montserrat-ExtraBold", sans-serif ;
$FirstFontBold: "Montserrat-Bold", sans-serif ;
$FirstFontMedium: "Montserrat-Medium", sans-serif;
$FirstFontRegular: "Montserrat-Regular", sans-serif ;
$FirstFontLight: "Montserrat-Light", sans-serif ;
$FirstFontExtarLightItatlic: "Montserrat-Extra-Light-Italic", sans-serif ;